.card {
  position: relative;
  width: 300px;
  height: 480px;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease, opacity 0.3s ease; 
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .imgBox img {
    transition: .5s;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 20px;
  color: var(--rosa-principal);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  padding: 10px 30px;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  background: black;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card .contentBox .buy:hover{
  background-color: var(--rosa-principal);
}
.mouse {
  height: 270px;
  width: auto;
}

/* Responsividade: Ajuste para telas muito pequenas (como dispositivos móveis) */
@media (max-width: 480px) {
  /* Ajustes para o card */
  .card {
    margin: 10px auto;  
    width: 90%;          
    height: auto;        
    display: flex;      
    flex-direction: column; 
    align-items: center;  
    justify-content: center; 
    padding: 10px;       
    box-sizing: border-box; 
    text-align: center;  
  }

  /* Ajuste da imagem dentro do card */
  .card .imgBox img {
    max-width: 95%;      
    height: auto;       
  }

  /* Ajuste do título */
  .card .contentBox h3 {
    font-size: 24px;     
    margin-bottom: 10px;  
  }

  /* Ajuste do preço */
  .card .contentBox .price {
    font-size: 24px; 
    margin-bottom: 15px;  
  }

  /* Ajuste do botão de compra */
  .card .contentBox .buy {
    padding: 8px 18px;
    font-size: 20px;      
    text-align: center;   
    margin-top: 10px;     
    background: var(--rosa-principal);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
  }
}




