<<<<<<< HEAD
footer {
    background-color: rgb(224, 76, 133);
    color: #fff;
    padding: 20px 40px; /* Espaçamento interno */
    border-radius: 50px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom:15px;
}

/* Contêiner de itens dentro do footer */
#footer_items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se reorganizem em telas pequenas */
}


#copyright {
    font-size: 1rem;
    color: #ececec;
}

.social-media-buttons {
    display: flex;
    gap: 20px;
}

/* Estilo para os links das redes sociais */
.social-media-buttons a {
    font-size: 1.4rem; 
    color: #fff; 
    background-color: #2d2f36; 
    padding: 12px; 
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s ease; /* Transição suave */
}

/* Efeito hover nos ícones das redes sociais */
.social-media-buttons a:hover {
    background-color: #25D366; /* Cor para o hover no WhatsApp */
    transform: scale(1.1); /* Aumenta ligeiramente o ícone */
}

.social-media-buttons a:hover:nth-child(2) {
    background-color: #b342a9; /* Cor para o hover no Instagram */
}

.social-media-buttons a:hover:nth-child(3) {
    background-color: #c0c0c0; /* Cor para o hover no TikTok */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        margin-top: 25px;
    }

    #footer_items {
        flex-direction: column;
        text-align: center;
    }

    .social-media-buttons {
        margin-top: 10px;
    }
}
=======
footer {
    background-color: rgb(224, 76, 133);
    color: #fff;
    padding: 20px 40px; /* Espaçamento interno */
    border-radius: 50px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom:15px;
}

/* Contêiner de itens dentro do footer */
#footer_items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se reorganizem em telas pequenas */
}


#copyright {
    font-size: 1rem;
    color: #ececec;
}

.social-media-buttons {
    display: flex;
    gap: 20px;
}

/* Estilo para os links das redes sociais */
.social-media-buttons a {
    font-size: 1.4rem; 
    color: #fff; 
    background-color: #2d2f36; 
    padding: 12px; 
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s ease; /* Transição suave */
}

/* Efeito hover nos ícones das redes sociais */
.social-media-buttons a:hover {
    background-color: #25D366; /* Cor para o hover no WhatsApp */
    transform: scale(1.1); /* Aumenta ligeiramente o ícone */
}

.social-media-buttons a:hover:nth-child(2) {
    background-color: #b342a9; /* Cor para o hover no Instagram */
}

.social-media-buttons a:hover:nth-child(3) {
    background-color: #c0c0c0; /* Cor para o hover no TikTok */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        margin-top: 25px;
    }

    #footer_items {
        flex-direction: column;
        text-align: center;
    }

    .social-media-buttons {
        margin-top: 10px;
    }
}
>>>>>>> dfe3e84150f9b0ec7e7c29323c7d623a312ac845
