header {
    width: 100%;
    padding: 25px 8%;
    position: fixed; /* header fixo */
    top: 0; 
    left: 0; 
    background: linear-gradient(135deg, #F5F5DC, #F5F5DC,#FFD3E7);
    color: white;
    z-index: 1000; /* garantir que o header fique acima de outros elementos */
    box-shadow: 2px 2px 15px 3px rgba(136, 101, 115, 0.3);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar img{
    width: 150px;
}

#nav_logo {
    color: rgb(224, 76, 133);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px; /* Espaço para a linha */
    transition: color 0.3s ease; 
}

/* Efeito hover para mudar a cor e mostrar a linha */
.nav-item a::after {
    content: ''; /* cria um pseudo-elemento vazio */
    position: absolute;
    bottom: 0;
    right: 0; /* alinha a linha à direita */
    width: 100%;
    height: 2px; /* espessura da linha */
    background-color: transparent; /* começa invisível */
    transform-origin: right; /* define a origem da transformação para a direita */
    transform: scaleX(0); /* começa com a linha invisível */
    transition: transform 0.3s ease, background-color 0.3s ease; /* transições para o efeito */
}

/* quando o hover ativa, a cor muda e a linha cresce da direita */
.nav-item a:hover {
    color: rgb(224, 76, 133); 
}

.nav-item a:hover::after {
    background-color: rgb(224, 76, 133); /* linha aparece com a cor desejada */
    transform: scaleX(1); /* linha se expande para a largura total */
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

#mobile_menu.active {
    display: block; /* Exibe o menu quando tiver a classe 'active' */
}


@media  screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default{
        display: none;
    }
    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        color: rgb(224, 76, 133);;
        font-size: 1.7rem;
        cursor: pointer;
    }
    
    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0;

    }
    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
    
    }
}