#home {
    margin-top: 60px;
    display: flex;
    position: relative;
    padding-bottom: 60px;
    overflow: hidden; /* Prevents content from causing scroll */
}

section {
    padding: 20px 8%;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 35px;
    position: relative; /* Ensures stability */
}

#cta .title {
    font-size: 2.9rem;
    color: var(--first-text-color);
}

#cta .title span {
    color: var(--rosa-principal);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #fff;
}

#cta_buttons .phone-text {
    color: black;
    border-radius: 65px;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #fff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0 0 10px 2px rgba(146, 115, 128, 0.7);
    border-radius: 12px;
}

.sponge1 img {
    margin-top: 24px;
    width: 300px;
    height: auto;
    object-fit: contain; /* Maintains aspect ratio */
}

#banner {
    position: relative;
    width: 100%;
    min-height: 70vh; /* Altura mínima para garantir espaço */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; /* Alinha as imagens na parte inferior */
    margin-top: 0; /* Remove a margem superior negativa */
    margin-bottom: 60px;
    padding-right: 20px;
    padding-top: 80px; /* Adiciona espaço para evitar corte pelo header */
}


.sponges-banner {
    position: absolute;
    bottom: 0; /* Alinha as imagens na parte inferior */
    right: 0;
    height: auto; /* Mantém a proporção */
    z-index: -1;
    max-width: 60%; /* Prevents growth */
    min-width: 60%; /* Prevents shrinking */
}

.sponge2 {
    width: 100%;
    height: auto;
    object-fit: contain; /* Mantém a proporção da imagem */
    margin-left: -70px;
    animation: pulseAndRotate 8s ease-in-out infinite; /* Combina pulsação e rotação */
}

/* Animação de pulsação e rotação infinita */
@keyframes pulseAndRotate {
    0%, 100% {
        transform: scale(1) ; /* Tamanho reduzido e sem rotação */
    }
    50% {
        transform: scale(1.1) ; /* Aumenta o tamanho e gira 180 graus */
    }
    
}

/* Media Query for smaller screens (medium desktop) */
@media screen and (max-width: 1200px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #home img {
        width: 310px;
    }

    #banner,
    #banner img,
    #home .shape,
    .mulher {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 5px;
    }

    #cta .title {
        font-size: 2.7rem;
    }

    #cta .description {
        font-size: 1.3rem;
        padding: 5px;
    }

    #cta_buttons {
        display: flex;
        flex-direction: column;
    }

    section {
        padding: 0px;
    }
}