
#home {
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

section {
    padding: 20px 8%;
}

#home .container {
    display: flex;
    width: 100%;
}

#cta {
    width: 36%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 80px;
    position: relative;
    z-index: 1; /* Garante que o conteúdo apareça acima da imagem */
}

#cta .title {
    font-size: 2.9rem;
    color: #222;
}

#cta .title span {
    color: var(--rosa-principal);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #fff;
}

#cta_buttons .phone-text {
    color: black;
    border-radius: 65px;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #fff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0 0 10px 2px rgba(146, 115, 128, 0.7);
    border-radius: 12px;
}

.sponge1 img {
    margin-top: 24px;
    width: 300px;
    height: auto;
    object-fit: contain;
}

.social-media-buttons {
    display: flex;
    gap: 15px;
}

.social-media-buttons a {
    font-size: 1.5rem;
    color: var(--rosa-principal);
}

/* Banner e imagem principal */
#banner {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sponge2 {
    width: 74%;
    height: auto;
    object-fit: contain;
    animation: pulseAndRotate 8s ease-in-out infinite;
}

/* Animação de pulsação */
@keyframes pulseAndRotate {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
}

/* Media queries para diferentes tamanhos de tela */
@media screen and (min-width: 1801px) {
    /* Ajuste para telas grandes */
    .sponge2 {
        margin-top: 50px;
    }
}

@media screen and (min-width: 1601px) and (max-width: 1800px) {
    .sponge2 {
        margin-top: -30px;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1600px) {
    .sponge2 {
        margin-top: -60px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .sponge2 {
        margin-top: -90px;
    }
}

/* Media query para telas médias e pequenas */
@media screen and (max-width: 1200px) {
    #home .container {
        flex-direction: column;
    }
    
    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 5px;
    }
    
    #banner {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
        display: none;
    }
    
    .sponge2 {
        width: 80%;
        max-width: 500px;
        margin-top: 0;
    }
    
    #cta .title {
        font-size: 2.5rem;
    }
    
    #cta .description {
        font-size: 1.2rem;
        padding: 0 10px;
    }
    
    #cta_buttons {
        flex-direction: column;
    }
    
    section {
        padding: 10px 4%;
    }
}

/* Para telas muito pequenas (smartphones) */
@media screen and (max-width: 768px) {
    #cta .title {
        font-size: 2rem;
    }
    
    .sponge1 img {
        width: 250px;
    }
    
    .sponge2 {
        width: 90%;
    }
}